@{
    ViewBag.Title = "Index";
		Layout = "";
}

<section id="filiais" >
	<div class="head">
		<h2 class="title big">Filiais</h2>
		<p>Gerencie suas filiais, como o andamento dos pedidos de seus clientes em tempo real, consulte vendas e faturamento</p>
	</div>
	<div id="body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Apelido</th>
						<th>Razao Social</th>
						<th>Cnpj</th> 
					</tr>
				</thead>
				<tbody>
					@foreach (var item in ViewBag.filiais){ 
					<tr>
						<td>
							<a title="Editar" class="link_editar"  href="/admin/#/filiais/edit/@item.id">@item.apelido</a> <span><a href="/admin/#/filiais/remover/@item.id">arquivar</a></span>
						</td>
						<td>@item.razao_social</td>
						<td>@item.cnpj</td>
					</tr>
					}
				</tbody>
			</table>
	</div>
</section>
