@{
    ViewBag.Title = "Main";
		Layout = "";
}

<div id="banner"></div>
<section id="heading">
  <div class="big">
    <h3>E se voce pudesse gerenciar o seu estabelecimento de forma agil, pratica e eficiente?</h3>
    <div class="divisoria"></div>
    <h4>Com o Menu Facil voce gerencia, otimiza e moderniza o seu negocio.</h4>
  </div>
  <div class="medium">
    <h4>Seu cliente realiza os seus pedidos confortavelmente direto <br />
        do seu smart phone, o pedido e recebido em tempo real.</h4>
    <button id="right-btn" class="btn btn-warning">Saiba Mais</button>
  </div>
</section>
<section id="concerns">
  <div>
    <h4>Monitoamento em Tempo Real</h4>
    <p>Quando o seu cliente pedir algum item do seu cardapio, 
        em instantes a solicitacao aparecera um monitor com todos
        os detalhes do pedido, junto com dados da mesa.</p>
    </div>
    <div>
      <h4>Facilidade na hora do pagamento</h4>
      <p>Todos os dados dos pedidos ficam disponiveis tanto no smart
        phone do cliente como em nossos servidores, guardando as 
        informacoes com seguranca. Quando o cliente quiser pagar, ele 
        apertando um botao podera realizar o pagamento de sua comanda.</p>
    </div>
    <div>
      <h4>Disponivel a milhares de usuarios</h4>
      <p>Seus clientes poderam acessar o seu cardapio de qualquer lugar direto do seu smart phone, podendo consultar resenhas de outros cliente e avaliando seus pratos e seus estabelecimentos.</p>
    </div>
    <div>
      <h4>Gerencie sua rede facilmente</h4>
      <p>Tenha acesso de qualquer lugar as informacoes sobre seu estabelecimento, 
        saiba como anda os pedidos, altere o seu cardapio, gerencie eus funcionarios.</p>
    </div>
  </section>
  <section id="conteudo_c"></section>
